table {
  width: 100%;
}

mat-form-field {
  width: 100%;
  background-color: rgb(39, 39, 39);
  color: yellow;
}

table,
ng-container,
th,
td {
  background-color: rgb(39, 39, 39);
  color: yellow;
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}
