.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}

.medium-size {
  width: 50%;
}

.card-background {
  color: yellow;
  background-color: rgb(39, 39, 39);
}
